.newSection {
    max-width: 1380px;
    color: slategrey;
    text-align: center;
    margin-left: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 130px;
}
