.introduction-content {
    display: flex;
    flex-direction: column;
    column-gap: 64px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    row-gap: 50px;
}

.introduction-appName {
    left: 0;
    margin-left: 3%;
    z-index: 1;
    color: black;
    justify-content: start;
}

.introduction {
    position: relative;
}

.project-name-background {
    background-color: 	#D3D3D3;
    min-height: 30%;
    z-index: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.introduction-topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 60px;
}

.project-icon {
    max-width: 50px;
    max-height: 50px;
}

.simulation-cards {
    max-width: 200px;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: slategray;
}

