.introduction-content {
    display: flex;
    flex-direction: column;
    column-gap: 64px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    row-gap: 50px;
    color: lightskyblue;
}

.introduction-appName {
    left: 0;
    margin-left: 3%;
    z-index: 1;
    color: black;
    justify-content: start;
}

.introduction {
    position: relative;
}

.project-name-background {
    background-color: lightskyblue;
    min-height: 30%;
    z-index: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.introduction-topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
}

.project-icon {
    max-width: 50px;
    max-height: 50px;
}

.simulation-cards {
    width: 265px;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: slategray;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: space-between;
    row-gap: 5px;
    color:slategray
}

.navLinks {
    text-decoration: none;
    color: slategray
}

.navLinks:hover {
    color: black;
}

.simulation {
    width: 80%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}

.sim-col {

    width: 85%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;

}

.simulator {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
}

.returnHome {
    margin-top: 2%;
    margin-left: 2%;
}

.backToHomeBtn {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 999px;
}

.backToHomeBtn:hover {
    cursor: pointer;
}

.simulation-demo {
    border-radius: 20px;
    width: 100%;
    height: 150px
}

.simulation-description {
    text-align: start;
}

.simulation-question {
    display: flex;
    flex-direction: column;
    text-align: start;
    row-gap: 12px;
}